Build/
Intermediate/
Saved/
DerivedDataCache/

*.opensdf
*.sdf
*.sln
*.suo
*.psess
*.log
*.obj
.DS_Store
*.pdb
*.pch
*.VC.opendb
*.lib
*.exp
.vs/
*.VC.db

_ExtraResources/Batches/config.bat

*-Shipping.*
*-DebugGame.*
*UE4Editor.modules
Config/DefaultEditor.ini
Releases
